language: python
python:
  - "2.7"
cache: pip
install:
  - pip install -r requirements.txt
env:
  - TASK="script/sourceclear"
  - TASK="bandit/scripts/bandit.sh"
before_script:
  - npm install -g bower
  - bower install
addons:
  srcclr: true

